@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
  scroll-behavior: smooth; 
  height: 100%;
  font-family: "Inter", sans-serif;
}

ul, ol{
  list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

h3 {
    font-family: Inter;
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -4%;
}

.link__button{
    background: #000000;
    border-radius: 16px;
    padding: 19px 37px;

    display: flex;
    align-items: center;
    gap: 15px;

    font-size: 14px;
    font-weight: 600;
    width: fit-content;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.categories__icon{
    font-weight: 500;
    font-size: 14px;
    color: #00000099;

    background-color: #0000000D;

    padding: 8px 16px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

hr{
    border: 1px solid rgba(0, 0, 0, 0.100);
    margin-top: 40px;
    margin-bottom: 40px;
}

header{
    margin: 40px;
}

nav{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    align-items: center;
}

.logo{
    max-width: 110px;
}

nav ul{
    display: flex;
    align-self: center;
    gap: 60px;
    font-size: 16px;
}

.links{
    display: flex;
    gap: 40px;
}


/* MAIN CONTAINER */

main{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 40px;
}

.featured{
    display: flex;
    justify-content: space-between;
    border-radius: 55px;
    background-color: #E7FAFE;
    flex-shrink: 0;
}

.featured--side{
    height: 600px;
    width: 1280px;
}

.ellipse__icon{
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 50px;
    text-align: center;
}

.featured__info{
    padding: 50px;
    box-sizing: border-box;
}

.recipe__icon{
    padding: 8px 16px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #fff;
    width: fit-content;

    font-size: 14px;
    font-weight: 600;

    margin-bottom: 32px;
}

.featured__info h1{
    font-size: 64px;
    font-weight: 600;
    max-width: 520px;
    margin-bottom: 24px;
    letter-spacing: -4%;
}

.featured__info p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #00000099;
    margin-bottom: 30px;
}

.categories__block{
    display: flex;
    justify-content: left;
    gap: 16px;
    margin-bottom: 99px;
}

.recipes__link{
    display: flex;
    justify-content: space-between;
}

.author__block{
    display: flex;
    justify-content: space-between;

    height: 50px;

    gap: 16px;
}

.author__info h2{
    font-size: 16px;
}

.author__info p{
    font-size: 14px;
}

/* CATEGORIES */

.categories{
    margin-top: 160px;
    margin-bottom: 183px;
}

.categories header{
    display: flex;
    justify-content: space-between;

    margin-bottom: 80px;
}

.categories ul {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.categories__card {
    padding: 0 40px 30px 40px;
}

.categories__card h4{
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -2%;
    text-align: center;

    padding-top: 50px;
}

/* RECIPES BLOCK */

.recipes {
    padding: 16px;
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
    
}

.recipes header {
    text-align: center;
    max-width: 706px;
    margin: 0 auto;
    margin-bottom: 96px;

    display: grid;
    gap: 24px;
}